.my-img-cover {
    width: 40mm;
    height: 50mm;
    object-fit: fill;
}

.my-image-big-cover-auto-w {
    height: 70mm;
    width: 100%;
    object-fit: fill;
}

.my-image-big-cover-auto-z {
    height: 44mm;
    width: 100%;
    object-fit: fill;
}

.my-image-big-cover {
    height: 70mm;
    width: 50mm;
    object-fit: fill;
}

.my-img-cover-detail {
    width: 40mm;
    height: 50mm;
    object-fit: fill;
}

.my-table-detail {
    width: 100%;
}

.my-table-detail th {
    text-align: center;
}

.my-table-detail tbody {
    border: 1px solid #f2f2f2;
}

.my-table-detail td {
    padding: 3mm;
}

.my-table-detail tr:nth-child(even) {
    background-color: #F5F6F7;
}

.my-p-detail {
    padding: 3mm;
    border: 1px solid #f2f2f2;
    background-color: #F5F6F7;
}

.my-pusher-tiny {
    margin: 2mm;
}